/*CSS Menu - Downloaded from Techandall.com*/
/*CSS Menu - Downloaded from Techandall.com*/
/*CSS Menu - Downloaded from Techandall.com*/
/*CSS Menu - Downloaded from Techandall.com*/

body {
	/*background: #f9f9f9;*/
	margin:0;
	padding:0;
	font-family:'Arial';
}

a img {
	border: none;
}

.techandall-menu {
	padding:0px;
	margin:0px;
	height:100px;
	border-bottom: solid 1px #e0e1dc;
	border-top: solid 10px #3a3a3a;
}

.techandall-menu ul{
	padding:0px;
	margin:0px;
	/*width:980px;*/
	height:110px;
	margin-top:-4px;

}

.techandall-menu ul li {
	float:left;
	list-style:none;
	height:110px;
	border-top: solid 4px transparent;

}

.techandall-menu ul li a {
	color:#777;
	text-decoration:none;
	padding:24px;
	padding-top:20px;
	padding-bottom:28px;
	padding-left:23px;
	padding-right:23px;
	display:block;
	height:53px;
	line-height:32px;
	font-size:11px;
	font-weight:bold;
	border-right: solid 1px #e0e1dc;

	text-align:center;
	text-shadow: 0 1px #fff;

}
.techandall-menu ul li a span{
	background: #ff4a4a;


	line-height: 10px;
	font-weight: normal;
	color: white;
	text-align: center;
	font-size:10px;
	font-family:arial;

	padding: 5px;
	
	height: 8px;
	line-height: 8px;
	width: 8px;
	display: block;
	position: absolute;
	margin-top: -34px;
	margin-left: -16px;

}

.techandall-menu ul li:first-child a {
	padding-left:0px;
	padding-right:0px;
	border-left: none;
	height:42px;
	line-height:20px;

}
.techandall-menu ul li a i{
	font-size: 25px;
	color: #999;
	padding: 6px;
	border: solid 1px #e4e4e4;
	box-shadow: 0 1px #fff inset;
	border-radius: 3px;
	background:#f4f4f4;
	display:block;
	margin: 0 auto;

}
.techandall-menu ul li.active,.techandall-menu ul li:hover {
	border-top: solid 4px #ff5a5a;
}

.techandall-menu ul li a:hover {
	background:#f1f1f1;

}

/*Dropdown*/
.techandall-menu ul li div {
	max-width:200px;
	display:none;
	position:absolute;
	margin-left:-1px;
    z-index: 999999;



}


.techandall-menu ul li:hover div {
	display: table;
}
.techandall-menu ul li div ul {
	display: table-cell;
	border: solid 1px #e0e1dc;
	border-top:none;
	width: 120px;
    z-index: 999999;


}

.techandall-menu ul li ul li,
.techandall-menu ul li ul li:hover {
	border-top:none;
	height:auto;
z-index: 999999;

}
.techandall-menu ul li ul li a,
.techandall-menu ul li ul li:first-child a {
	text-decoration: none;
	color: #888;
	padding:0px;
	display: block;
	width: 250px;
	background: #f4f4f4;
	border:none;
	text-align:left;
	border-bottom: solid 1px #f8f8f8;
	border-top: solid 1px #e0e0e0;
	padding-left:10px;
	font-weight:normal;
	line-height:60px;
	height:50px;
	box-shadow:  0 1px #fff inset;
	font-size:12px;
    z-index: 999999;

}

.techandall-menu ul li ul li a:hover,
.techandall-menu ul li ul li:first-child a:hover {
	background-color:#ff4a4a;
	color:white;
	text-shadow: none;
}

.techandall-menu ul li ul li a i {
	margin-right:6px;
	padding:4px;
	display:inline-block;
}
